#menu1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu2{
    display: flex;
    margin-left: auto;

}
nav{
    display: grid;
    grid-template-columns: 500px 1fr;
}
main
{
    display: flex;
 
    flex-wrap: wrap;
}
aside{
    display:none;
}
article{
    max-width: 400px;
}